.list-item-link {
  text-decoration: none;
  display: block;
  /* width: 400px; */
}

.list-item {
  display: flex;
  padding: 4px;
}

.list-item:hover {
  opacity: 0.5;
}

.list-item-number {
  flex: 0 0 50px;
  padding-right: 20px; 
}

.list-item-content {
  /* flex: 0 0 400px; */
}

.list-item-description {
  color: rgb(193, 193, 193);
}
